<%- include("partials/header") %>
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1>Share your collection on AlbumStack™</h1>
        <p id="subtitle">Let's put it together!</p>
        <div id="new-btn" class="nav justify-content-end">
            <a class="btn btn-outline-dark btn-md" href="/albums/new">Add new album</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row text-center">
        <% albums.forEach(function(album){ %>
            <div class="nav col-md-4 justify-content-center">
                <div class="img-thumbnail">
                    <a href="/albums/<%= album._id %>">
                    <img src="<%= album.image %>" alt="<%= album.name %>" class="img-fluid">
                    </a>
                    <div>
                        <h5><%= album.name %></h5>
                    </div>
                </div>
            </div>                
        <% }); %>
    </div>
</div>
<%- include("partials/footer") %>